.product-enablement {
    width: 30px;
    height: auto;
}

#product-table tr {
    opacity: 0.9;
}

#product-table tr.enabled {
    background-color: #90EE90;
}

#product-table tr.disabled {
    background-color: #FFB6C1;
}

.enabled a img:hover, .disabled a img:hover {
    transform: scale(1.2);
}

#product-table tr:hover {
    opacity: 1;
}

#options-table tr th:first-child,
#options-table tr td:first-child
{
    padding-left: 30px;
}

li.nav-item {
    list-style: none;
}